{
  "run_list"   : ["role[rails]"],
  "chef-rack_stack": {
    "app" : {
      "name": "<application-name>",
      "repo": "git://github.com/you-repo-name",
      "db": "<db-name>"
    }
  },
  "postgresql": {
    "password": {
      "postgres": "xyzabcdef"
    }
  }
}
